@import './utils/variables.scss';

@import './base/common.scss';
@import './base/container.scss';
@import './base/section.scss';

@import './components/adress.scss';
@import './components/backdrop.scss';
@import './components/buttons.scss';
@import './components/contacts.scss';
@import './components/customers.scss';
@import './components/description.scss';
@import './components/footer.scss';
@import './components/header.scss';
@import './components/list.scss';
@import './components/logo.scss';
@import './components/main.scss';
@import './components/navigation.scss';
@import './components/portfolio.scss';
@import './components/projects.scss';
@import './components/second-title.scss';
@import './components/what-we-do.scss';
@import './components/team.scss';