@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  /* ---dodatek--- */
  --secondary-color: #cd329a;
  --small-font: 14px;
  --big-font: 44px;
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  /* ---dodatek--- */
  --secondary-color: #cd329a;
  --small-font: 14px;
  --big-font: 44px;
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

.navigation {
  border-bottom: 1px solid #ececec;
}

.navigation .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  /* padding: 24px; unnecessary? */
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section {
  padding: 94px 15px;
}

.adress {
  list-style-type: none;
}

.adress __item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress __item:hover, .adress __item:focus {
  color: var(--main-color);
}

/* .adress__item:active {
  color: var(--secondary-color);
} */
/* nadpisuje klasę "adress__item */
.map {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*--- DODATEK dla widoczności--- */
.bakground-color-footer {
  background-color: #2f303a;
}

.btn {
  background: var(--main-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: 0px;
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
}

.btn:hover, .btn:focus {
  background: var(--main-color);
}

.btn-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* .btn:active {
  background-color: var(--secondary-color);
} */
.btn::first-letter {
  text-transform: uppercase;
}

.list-group :nth-child(4n+1) .btn-item {
  width: 121px;
  height: 38px;
}

.list-group :nth-child(2) .btn-item {
  width: 93px;
  height: 38px;
}

.list-group :nth-child(3) .btn-item {
  width: 114px;
  height: 38px;
}

.list-group :nth-child(4) .btn-item {
  width: 91px;
  height: 38px;
}

.buttons-section {
  margin-bottom: 50px;
}

.btn-group {
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding-right: 518px;
  padding-left: 510px; */
}

.list-group:not(:last-child) {
  margin-right: 8px;
}

.btn-item {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover, .btn-item:focus {
  background-color: var(--main-color);
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* .btn-item:active {
            background-color: var(--secondary-color);
          } */
footer {
  background-color: #2f303a;
}

.footer-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-height: 252px;
  padding-top: 60px;
  min-width: 1200px;
  /* flex-flow: row wrap; */
}

.footer-wrapper__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.adress {
  text-align: start;
}

.studio-item-footer {
  color: #fff;
}

.footer-join-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-left: 70px;
  /* width: 50%; */
}

.footer-join-us__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-join-us__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}

.social-image-footer {
  width: 44px;
  height: 44px;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.main-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.big-title {
  background-color: #2f303a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 600px;
  max-width: 1600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  /* which one use? */
  background-size: cover;
  /* object-fit: cover; */
  margin: 0 auto;
}

.big-title.bg-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg");
  background-position: center;
}

.socialimg {
  width: 20px;
  height: 20px;
}

.social-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-image:hover, .social-image:focus {
  fill: #fff;
  background-color: var(--main-color);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* padding-bottom: 30px; */
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.social-pading-bottom {
  padding-bottom: 30px;
}

.what-we-do {
  margin-bottom: 94px;
  /* height: 386px; different section structure than BELOW (OUR TEAM) */
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-list:not(:last-child) {
  margin-right: 30px;
}

/* === LIST LIST LIST ===*/
.list:not(:last-child) {
  margin-right: 30px;
}

/* === LIST LIST LIST ===*/
/* PHOTO-LIST */
.portfolio__photo-item {
  margin-bottom: 30px;
  position: relative;
  max-width: 370px;
  height: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.show-up-img:hover .show-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__photo-item:nth-of-type(3n + 1) {
  margin-right: 30px;
}

.portfolio__photo-item:nth-of-type(3n + 2) {
  margin-right: 30px;
}

.portfolio__photo-item:hover,
.portfolio__photo-item:focus {
  /* position: relative; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px dotted #eee;
  cursor: pointer;
}

/* to catch the :hover from li --> photo-list */
.portfolio__photo-item:hover .show-up,
.portfolio__photo-item:focus .show-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio.section {
  padding-top: 0px;
}

.portfolio__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

/* END PHOTO-LIST */
/* ===--- END WHAT WE DO /// TEAM /// PROJECT/IMAGES ---=== */
/* === TEAM ===*/
.employee .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-description {
  padding-left: 24px;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.image-list {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.image-list-rel {
  position: relative;
}

.image-list-content {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--main-font);
}

.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.web-item {
  color: var(--main-color);
}

.studio-item {
  color: #000;
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  /* ---dodatek--- */
  --secondary-color: #cd329a;
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
}

.sub-navigation {
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-navigation:hover, .sub-navigation:focus {
  color: var(--main-color);
}

/* .sub-navigation:active {
  color: var(--secondary-color);
} */
.navigation__list {
  cursor: pointer;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 46px;
}

/* CHECKED SITE NAVIGATION */
.sub-navigation.first-element-nav:visited {
  color: var(--main-color);
}

.first-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}

.sub-navigation.second-element-nav:visited {
  color: var(--main-color);
}

.second-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}

/* when i add "kontakt" site ---> "third-element-nav" i must add file (kontakt.html) like index.html or portfolio.html */
/* .sub-navigation.third-element-nav:visited {
  color: var(--main-color);
}
.third-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
} */
/* END CHECKED SITE NAVIGATION */
.navigation__item {
  position: relative;
}

.sub-navigation:hover::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}

.portfolio-section {
  min-height: 1360px;
  /* is it ok? */
  margin-top: 94px;
  margin-bottom: 64px;
  /* margin-bottom: 30px have li */
}

.portfolio__photo-item {
  margin-bottom: 30px;
  position: relative;
  max-width: 370px;
  height: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.show-up-img:hover .show-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio__photo-item:nth-of-type(3n + 1) {
  margin-right: 30px;
}

.portfolio__photo-item:nth-of-type(3n + 2) {
  margin-right: 30px;
}

.portfolio__photo-item:hover,
.portfolio__photo-item:focus {
  /* position: relative; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px dotted #eee;
  cursor: pointer;
}

/* to catch the :hover from li --> photo-list */
.portfolio__photo-item:hover .show-up,
.portfolio__photo-item:focus .show-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.portfolio.section {
  padding-top: 0px;
}

.portfolio__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}

.border-text {
  background: #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-top: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* SHOW-UP */
.image-projects {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.show-up-img {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.show-up {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
  opacity: 0.9;
  text-align: left;
}

.projects-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-list {
  margin-bottom: 30px;
  position: relative;
  max-width: 370px;
  height: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.show-up-img:hover .show-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.photo-list:nth-of-type(3n + 1) {
  margin-right: 30px;
}

.photo-list:nth-of-type(3n + 2) {
  margin-right: 30px;
}

.photo-list:hover,
.photo-list:focus {
  /* position: relative; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px dotted #eee;
  cursor: pointer;
}

/* to catch the :hover from li --> photo-list */
.photo-list:hover .show-up,
.photo-list:focus .show-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nine-images.section {
  padding-top: 0px;
}

.portfolio-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
/*# sourceMappingURL=portfolio.css.map */