.contacts {
  list-style-type: none;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.contacts-item {
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 30px; /* icon-list also */

    &:hover, 
    &:focus {
      color: var(--main-color);
      fill: var(--main-color);
    }
}
/* .contacts-item:active {
  color: var(--secondary-color);
} */
.icon-envelope,
.icon-smartphone {
  display: flex;
  align-items: center;
  fill: #757575;
  list-style-type: none;
}
.contact-icon {
  margin-right: 10px;
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}