.sub-navigation {
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
&:focus {
  color: var(--main-color);
}
}
/* .sub-navigation:active {
  color: var(--secondary-color);
} */
.navigation__list {
  cursor: pointer;
  list-style-type: none;
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 46px;
}
/* CHECKED SITE NAVIGATION */
.sub-navigation.first-element-nav:visited {
  color: var(--main-color);
}
.first-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}
.sub-navigation.second-element-nav:visited {
  color: var(--main-color);
}
.second-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}


/* when i add "kontakt" site ---> "third-element-nav" i must add file (kontakt.html) like index.html or portfolio.html */

/* .sub-navigation.third-element-nav:visited {
  color: var(--main-color);
}
.third-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
} */


/* END CHECKED SITE NAVIGATION */
.navigation__item {
  position: relative;
}
.sub-navigation:hover::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}