.border-text {
  background: #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-top: 20px;
  justify-content: flex-start;
}

/* SHOW-UP */
.image-projects {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.show-up-img {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.show-up {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
  opacity: 0.9;
  text-align: left;
}




.projects-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  padding-left: 24px;
  display: flex;
}
.projects-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
  display: flex;
}


.photo-list {
  margin-bottom: 30px;
  position: relative;

  max-width: 370px;
  height: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.show-up-img:hover .show-up {
transform: translateY(-100%);
}
.photo-list:nth-of-type(3n + 1) {
  margin-right: 30px;
}
.photo-list:nth-of-type(3n + 2) {
  margin-right: 30px;
}
.photo-list:hover, 
.photo-list:focus {
  /* position: relative; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px dotted #eee;
  cursor: pointer;
}
/* to catch the :hover from li --> photo-list */
.photo-list:hover .show-up,
.photo-list:focus .show-up {
  transform: translateY(-100%);
}
.nine-images.section {
  padding-top: 0px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}