// .navigation {
//   border-bottom: 1px solid #ececec;
// }
// .navigation .container {
//   display: flex;
//   align-items: center;
//   height: 80px;
//   /* padding: 24px; unnecessary? */
// }
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
//   align-items: center;
// }

// .container {
//     margin: 0 auto;
//     width: 100%;
//     display: flex;
// }


    .container {
        max-width: 480px;
        padding: 0 15px;
        margin: 0 auto;
    }


@media screen and (min-width: 738px) {
    .container {
        max-width: 738px;
        padding: 0 15px;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        padding: 0 15px;
    }
}