:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  /* ---dodatek--- */
  --secondary-color: #cd329a;
  
  --small-font: 14px;
  --big-font: 44px;
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
}
/* === LOGO === */
.logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}
.web-item {
  color: var(--main-color);
}
.studio-item {
  color: #000;
}
/* === END LOGO === */

/* === NAVIGATION === */
.sub-navigation {
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-navigation:hover,
.sub-navigation:focus {
  color: var(--main-color);
}

/* .sub-navigation:active {
  color: var(--secondary-color);
} */
.navigation {
  cursor: pointer;
  list-style-type: none;
  display: flex;
}
.navigation-list:not(:last-child) {
  margin-right: 46px;
}
/* CHECKED SITE NAVIGATION */
.sub-navigation.first-element-nav:visited {
  color: var(--main-color);
}
.first-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}
.sub-navigation.second-element-nav:visited {
  color: var(--main-color);
}
.second-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}


/* when i add "kontakt" site ---> "third-element-nav" i must add file (kontakt.html) like index.html or portfolio.html */

/* .sub-navigation.third-element-nav:visited {
  color: var(--main-color);
}
.third-element-nav::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
} */


/* END CHECKED SITE NAVIGATION */
.navigation-list {
  position: relative;
}
.sub-navigation:hover::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  border-radius: 2px;
  margin: 0;
  padding: 0;
  top: 46px;
  left: 0;
}
/* === END NAVIGATION === */

/* === CONTACTS === */
.contacts {
  list-style-type: none;
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.contacts-item {
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 30px; /* icon-list also */
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--main-color);
  fill: var(--main-color);
}
/* .contacts-item:active {
  color: var(--secondary-color);
} */
.icon-envelope,
.icon-smartphone {
  display: flex;
  align-items: center;
  fill: #757575;
  list-style-type: none;
}
.contact-icon {
  margin-right: 10px;
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialimg {
  width: 20px;
  height: 20px;
}
.social-image {
  display: flex;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-image:hover,
.social-image:focus {
  fill: #fff;
  background-color: var(--main-color);
}
.social-list {
  display: flex;
  /* padding-bottom: 30px; */
}
.social-pading-bottom {
  padding-bottom: 30px;
}
.social-list:not(:last-child) {
  margin-right: 10px;
}

.what-we-do {
  margin-bottom: 94px;
  /* height: 386px; different section structure than BELOW (OUR TEAM) */
}
.item-list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}
.list-svg {
  display: flex;
  justify-content: space-between;
}
.image-list:not(:last-child) {
  margin-right: 30px;
}
/* === LIST LIST LIST ===*/
.list:not(:last-child) {
  margin-right: 30px;
}
/* === LIST LIST LIST ===*/
/* PHOTO-LIST */
.photo-list {
  margin-bottom: 30px;
  position: relative;

  max-width: 370px;
  height: auto;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.show-up-img:hover .show-up {
transform: translateY(-100%);
}
.photo-list:nth-of-type(3n + 1) {
  margin-right: 30px;
}
.photo-list:nth-of-type(3n + 2) {
  margin-right: 30px;
}
.photo-list:hover, 
.photo-list:focus {
  /* position: relative; !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px dotted #eee;
  cursor: pointer;
}
/* to catch the :hover from li --> photo-list */
.photo-list:hover .show-up,
.photo-list:focus .show-up {
  transform: translateY(-100%);
}
.nine-images.section {
  padding-top: 0px;
}
.portfolio-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
/* END PHOTO-LIST */
/* ===--- END WHAT WE DO /// TEAM /// PROJECT/IMAGES ---=== */

/* === TEAM ===*/
.employee .container {
  display: flex;
}
.projects-description {
  padding-left: 24px;
}
.image {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.image-list {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.image-list-rel {
  position: relative;
}
.image-list-content {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--main-font);
}
.third-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.worker {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  height: 648px;
  min-height: 708px;
}
/* === END TEAM ===*/
/* PORTFOLIO SECTION ALL OF THEM */
.portfolio-section {
  min-height: 1360px; /* is it ok? */
  margin-top: 94px;
  margin-bottom: 64px; /* margin-bottom: 30px have li */
}
/* === BUTTON GROUP === */
.list-group:nth-child(4n+1) .btn-item{
  width: 121px;
  height: 38px;
}
.list-group:nth-child(2) .btn-item{
  width: 93px;
  height: 38px;
}
.list-group:nth-child(3) .btn-item{
  width: 114px;
  height: 38px;
}
.list-group:nth-child(4) .btn-item{
  width: 91px;
  height: 38px;
}
.buttons-section {
  margin-bottom: 50px;
}
.btn-group {
  list-style-type: none;
  justify-content: center;
  display: flex;
  /* padding-right: 518px;
  padding-left: 510px; */
}
.list-group:not(:last-child) {
  margin-right: 8px;
}
.btn-item {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-item:hover,
.btn-item:focus {
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* .btn-item:active {
  background-color: var(--secondary-color);
} */
/* === END BUTTON GROUP === */

/* PROJECTS/IMAGES */
/* do other??? */
.border-text {
  background: #fff;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  padding-top: 20px;
  justify-content: flex-start;
}

/* SHOW-UP */
.image-projects {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.show-up-img {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}
.show-up {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #fff;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
  opacity: 0.9;
  text-align: left;
}




.projects-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  padding-left: 24px;
  display: flex;
}
.projects-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-left: 24px;
  display: flex;
}
.vector-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  /* margin: auto; */
  transform: translate(-50%, -50%);
  fill: #000;
  text-align: center;

  top: 50%;
  left: 50%;
}
.footer__btn-content {
  position: relative; /* relative for "footer__icon-newsletter" */
}
.footer__icon-newsletter {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
    /* display: inline-block; */
  top: 13px;
  right: 28px;
  bottom: 13px;
  left: 148px;
}

.footer__header-newsletter {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#fff;
  display: flex;
  align-items: flex-start;
}
.footer-form {
  margin-left: 78px;
}
.input__content {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background: #2F303A;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color:rgba(255, 255, 255, 0.6);
  padding: 15px;
  margin-right: 12px;
  margin-top: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input__content:hover,
.input__content:focus {
  border-color: var(--main-color);
  cursor: pointer;
}
.footer__btn-content.btn {
  margin-top: 20px; /* catch together with input, because they share the same FOR/ID ?????*/
}
.footer__sign-up {
  padding-right: 24px; /* poor method */
}